body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(95, 95, 188), rgb(188, 123, 123));
}

.container {
  background: rgb(235, 220, 220);
  border-radius: 10px;
  box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 10px;
  width: 450px;
  margin: 10px;
}

.btn {
  cursor: pointer;
  background-color: rgb(124, 192, 169);
  color: rgb(76, 64, 64);
  padding: 10px 30px;
  font-size: 15px;
  margin-bottom: 25px;
  border-radius: 6px;
}

.btn:disabled {
  background-color: rgb(152, 141, 141);
  cursor: not-allowed;
}

.anime-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid rgb(69, 24, 24);
}

.anime-name {
  margin: 20px;
  padding: 10px;
  background-color: rgb(83, 159, 134);
  color: rgb(208, 196, 196);
  font-size: 22px;
  font-weight: 500;
  border-radius: 6px;
}

.anime-container {
  display: none;
}
