body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left bottom, green, yellow);
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(61, 49, 62);
}

.container {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  width: 80%;
  max-width: 450px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 37px;
}

.temp-container {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
}

.input {
  width: 220px;
  padding: 5px;
  float: right;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
  border-color: rgb(143, 134, 122);
  color: rgb(52, 72, 52);
  font-size: 19px;
}

.input::placeholder {
  color: rgb(47, 68, 47);
}
