@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: url('./hero-bg.jpg');
  background-position: center;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar .logo {
  font-size: 2.1em;
  font-weight: 600;
}

.navbar .logo span {
  color: #c06b3e;
}

.navbar .menu-links {
  display: flex;
  gap: 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.navbar a:hover {
  color: #c06b3e;
}

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  color: #fff;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hero-section .content h1 {
  font-size: 3rem;
  max-width: 600px;
}

.hero-section .content p {
  font-weight: 300;
  margin-top: 15px;
  max-width: 600px;
}

.hero-section .content button {
  background: #fff;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 38px;
  transition: 0.3s ease-in-out;
}

.hero-section .content button:hover {
  color: #fff;
  background: #c06b3e;
}

@media screen and (max-width: 900px) {
  .navbar .menu-links {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    background: #fff;
    padding: 70px 40px 0;
    list-style-type: none;
  }

  .navbar a {
    color: #000;
  }
}
