* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to bottom right, white, rgb(88, 88, 206));
}

.container {
  width: 70%;
  height: 85vh;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 25px 40px #111119;
}

.item-box {
  display: flex;
  margin: 20px 40px;
}

.container .header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  align-items: center;
}

.header .heading {
  font-size: 16px;
}

.header .action {
  font-size: 14px;
  color: red;
  font-weight: 600;
  border-bottom: 1px solid red;
}

.addtocart {
  box-shadow: 0 0 2px rgb(6, 32, 6);
  height: 400px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 25px;
}

img {
  height: 150px;
}

h2 {
  margin-top: 10px;
}

.btn {
  position: relative;
  padding: 10px;
  width: 90%;
  height: 50px;
  margin-top: 10px;
  background: #ed7878;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #e4b1b1;
}

.btn:active {
  transform: scale(0.9);
}

.btn .fa-cart-shopping {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 28px;
  transform: translate(-50%, -50%);
}

.btn.clicked .fa-cart-shopping {
  animation: cart 1.5s ease-in-out forwards;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

.btn .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
}

.btn.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}

@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

.addCart {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}

.btn span.addCart {
  opacity: 1;
}

.btn.clicked span.addCart {
  animation: txt1 1.5s ease-in-out forwards;
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

.btn span.added {
  opacity: 0;
  font-size: 18px;
}

.btn.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
