* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: #1b1b1d;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
}

header .navbar {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-links a {
  color: #fff;
  text-decoration: none;
}
