* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #171729;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: gray;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgb(230, 224, 230);
  font-size: 16px;
  color: rgb(43, 41, 41);
}

form button {
  padding: 15px;
  background: rgb(82, 104, 35);
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
