* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #343232;
  height: 100%;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  z-index: 99;
}

.sticky {
  background: #343232;
  border: 2px solid #c0a4a41a;
}

.header a {
  color: #fff;
}

.header .logo {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  animation: slideRight 1s ease-in forwards;
  opacity: 0;
  filter: blur(5px);
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 1;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

.navbar a {
  font-size: 18px;
  display: inline-block;
  margin-left: 45px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  animation: slideTop 0.5s ease-in forwards;
  opacity: 0;
  filter: blur(5px);
  animation-delay: calc(0.2s * var(--clr));
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

.header .menu {
  color: #fff;
  font-size: 30px;
  display: none;
}

.navbar a:hover {
  color: #c1be1c;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

section {
  padding: 10rem 9% 2rem;
}

.text-section {
  color: #fff;
  max-width: 700px;
}

.text-section h2 {
  font-size: 50px;
  animation: slideRight 1s ease-in forwards;
  opacity: 0;
  filter: blur(5px);
  animation-delay: 0.7s;
}

.text-section h3 {
  margin-top: 30px;
  color: #c1be1c;
  animation: slideRight 1s ease-in forwards;
  opacity: 0;
  filter: blur(5px);
  animation-delay: 1s;
}

.text-section p {
  margin-top: 20px;
  color: #fff;
  animation: slideLeft 1s ease-in forwards;
  opacity: 0;
  filter: blur(5px);
  animation-delay: 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  position: relative;
}

.btn-box a {
  display: flex;
  color: #343232;
  background: #c1be1c;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 20px;
  border: 2px solid #c1be1c;
  transition: 0.3s;
}

.btn-box a::before {
  content: '';
  position: absolute;
  right: 0;
  /* background: red; */
  background: #343232;
  height: 100%;
  width: 0%;
  animation: disappear 2s ease-in forwards;
}

@keyframes disappear {
  0% {
    width: 100%;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

.btn-box a:hover {
  color: #c1be1c;
  background: #343232;
}

.social-media {
  position: absolute;
  left: 0;
  top: 45%;
  /* background: #c1be1c; */
  display: grid;
  font-size: 26px;
  animation: slideTop 0.5s ease-in forwards;
  opacity: 0;
  filter: blur(5px);
  animation-delay: 2s;
}

.social-media a {
  color: #343232;
}

.social-media i {
  padding: 10px 10px;
  background: #c1be1c;
  border: 2px solid #c1be1c;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
}

.social-media i:hover {
  background: #343232;
  color: #fff;
}

.image-section {
  display: flex;
}

.image-section img {
  width: 600px;
  animation: zoom 1s ease-in forwards, float 4s ease-in infinite;
  animation-delay: 2s, 3s;
  opacity: 0;
  width: 80%;
}

@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  section {
    padding: 10rem 2% 0;
  }
  .home {
    display: grid;
  }
  .navbar {
    display: none;
  }
  .navbar a {
    font-size: 20px;
    margin: 48px 0;
    display: block;
  }
  .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    background: #343232;
    padding: 1rem 3%;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 16px rgba(255, 255, 255, 0.1);
  }
  .image-section img {
    width: 45%;
    margin: 0 auto;
  }
  .navbar.active {
    display: block;
  }
  .header .menu {
    display: block;
  }
  .text-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .btn-box {
    height: 50px;
    width: 200px;
    margin-top: 20px;
  }
  .social-media {
    top: 50%;
  }
}
