body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: aquamarine;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(86, 75, 62);
}

.container {
  position: relative;
  text-align: center;
  width: 400px;
}

.counter {
  font-size: 55px;
}

.loading-bar-back {
  position: absolute;
  height: 18px;
  background-color: rgb(64, 64, 135);
  width: 100%;
  border-radius: 5px;
  border: none;
}

.loading-bar-front {
  position: absolute;
  height: 18px;
  background-color: rgb(246, 130, 21);
  width: 0%;
  border-radius: 5px;
  border: none;
}
